<%- include('include/_header_admin') -%>

<div class="container">
    <h1>Product list</h1>
</div>
<table class="table container">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Stock</th>
        <th>Action</th>
    </tr>
    </thead>
    <div class="container flex-grow-1 container">
        <tbody>
        <% for(var i = 0; i < prods.length; i++){ %>
            <tr>
                <td><a href="/admin/edit_prod?id=<%=prods[i]._id%>&id2=<%=id%>"><%= prods[i]._id%></a></td>
                <td><%= prods[i].name %></td>
                <td><%= prods[i].cost + " ₸"%></td>
                <td><%= prods[i].stock%></td>
                <td><a href="/admin/delete_prod?id=<%=prods[i]._id%>&id2=<%=id%>">Delete</a></td>
            </tr>
        <% } %>
        </tbody>
    </div>
</table>
<div class="container">
    <a class="btn btn-dark" href="/admin/add_prod?id=<%=id%>">Add product</a>
</div>

<%- include('include/_footer') -%>